body {
    background: #fafafa;
    padding-bottom:30px;
}
.menu {
    display: block;
    height: 75px;
    background: #fff;
    margin: 0;
    border-bottom: 1px solid #d3d9df;
}
.menu-logo {
    margin: 0;
    line-height: 75px;
    color: #000;
    font-size: 16pt;
    font-weight: bold;
}
.menu-ul {
    margin: 0;
    font-size: 24px;
    list-style-type: none;
}

li + li{
    padding-left: 20px;
}
.menu-ul li {
    margin: 0;
    line-height: 75px;
    float: left;
}
.menu-ul li a {
    color: #000;
}
.menu form {
    margin-top: calc(75px / 4);
}
.container-insta {
    width: 70%;
    margin: auto auto;
    margin-top: 40px;
}

/* Post */
.card-post .card-header {
    display: flex;
    align-items: center;
}
.card-post .card-header {
    background-color: #fff;
    border: 1px solid #eee;
    max-height: 60px;
}
.card-post .card-header span {
    padding-left: 10px;
    font-weight: 600
}
.card-post .card-footer, .card-post .card-body {
    background-color: #fff;
    border: 1px solid #eee;
}
.post-usericon {
    height: 50px;
    border-radius: 50%;
}

.card-post .post-image {
    /* min-height: 500px; */
    width: 100%;
    padding-top: 75%;
    background: #eee;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat !important
}

/* Post - action buttons */
.card-post .actionButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
.card-post .actionButtons .item {
    font-weight: 400;
    font-size: 18pt;
}
.card-post .actionButtons .item + .item {
    padding-left: 15px;
}
.post-comments .comment .user {
    font-weight: 600; 
    padding-right: 3px;   
}
.post-comments .comment .text {
    font-weight: 500;
}


.profile-link{
    text-decoration: none!important;
}
.border-round {
    border-radius: 50%;
}
.submitComment {
    background: transparent;
    border: transparent;

}
.submitComment svg {
    color: #3498db;
}