body {
  background: #fafafa;
}
.box + .box {
  margin-top: 15px;
}
.box {
  border: 1px solid #ddd;
  background: #fff;
  padding: 20px;
}

.box-header {
  text-align: center;
  margin-bottom: 20px;
}

.box-header h1 {
  font-size: 24pt;
}
.box-content {
  width: 80%;
  margin: auto auto;
}

.box-hidden {
  display: none;
}

input[type="text"],input[type="password"] {
  background: #fefefe;
  color: #000;
  margin-bottom: 10px;
}

.btn-insta {
  background: #3897f0;
  color: #fff;
  width: 100%;
  height: auto;
}

#login {
  margin-top: 30px;
}
#register {
  margin-top: 10px;
}